{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}

{% block body %}

    <div class="main-form-container">

        <form method="post" class="">
            <div class="form-container">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h2 class="">S'identifier</h2>
                <input type="email" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" autocomplete="email" required autofocus>
                <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button type="submit">
                    S'identifier
                </button>

                <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire dès maintenant<a></p>
            </div>
        </form>



    </div>

{% endblock %}


