{% extends 'base.html.twig' %}

{% block title %}Nos hébergements{% endblock %}


{% block body %}

<div class="lodging-intro">
    <h1> NOS HEBERGEMENTS </h1>
    <p> Cocori'camp vous propose les hebergements disponible Cocori'camp vous propose les hebergementsCocori'camp vous
        propose les hebergements disponible Cocori'camp vous propose les hebergements disponible Cocori'camp vous
        propose les hebergements disponibleCocori'camp vous propose les hebergements disponible Cocori'camp vous propose les hebergementsCocori'camp vous
        propose les hebergements disponible Cocori'camp vous propose les hebergements disponible Cocori'camp vous
        propose les hebergements disponib </p>

</div>
<div class="container-lodging">
    <div class="lodging">
        <div class="img-container">
            <img src="{{ asset('images/tipis1.jpg') }}" alt="tipis" />

        </div>

        <div class="content-lodging">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="{{ path('app_account') }}" class="btn-discover-lodging" type="button"> Reservé </a>
            
            
            


            

        </div>
    </div>

    <div class="lodging">
        <div class="img-container">
            <img src="{{ asset('images/cabane1.jpg') }}" alt="cabane" />
        </div>

        <div class="content-lodging">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="{{ path('app_account') }}" class="btn-discover-lodging" type="button"> Reservé </a>
        </div>
    </div>

    <div class="lodging">
        <div class="img-container">
            <img src="{{ asset('images/tente1.jpg') }}" alt="tente" />
        </div>

        <div class="content-lodging">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="{{ path('app_account') }}" class="btn-discover-lodging" type="button"> Reservé </a>

        </div>
    </div>

</div>



{% endblock %}