{% extends 'base.html.twig' %}

{% block title %}Nos hébergements{% endblock %}

{% block body %}


 <div class="grid-container">

    <a id="4" class="location-listing">

        <p class="location-title">Tipis</p>

        <div class="location-image">
            <img  src="{{ asset('images/pic1.jpg') }}"  alt="Tipis"> 
        </div>

    </a>

    <a id="4" class="location-listing">

        <p class="location-title">Tentes</p>

        <div class="location-image">
            <img  src="{{ asset('images/pic2.jpg') }}"  alt="Cabanes"> 
        </div>

    </a>

    <a id="4" class="location-listing">

        <p class="location-title">Cabanes</p>

        <div class="location-image">
            <img  src="{{ asset('images/pic2.jpg') }}"  alt="Cabanes"> 
        </div>

    </a>

    <a id="4" class="location-listing">

        <p class="location-title">Cabanes</p>

        <div class="location-image">
            <img  src="{{ asset('images/pic1.jpg') }}"  alt="Cabanes"> 
        </div>

    </a>


</div> 

{# <div class="cardl" style="width: 18rem;">
  <img src="{{ asset('images/pic1.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>                                   #}









{% endblock %}