{% extends 'base.html.twig' %}

{% block title %}Nos hébergements{% endblock %}

{% block body %}
<div class="lodging-hero-banner">

    <div class="lodging-hero-banner-content">
        
        <h2>"Au coeur de la nature, vivez une expérience unique  proche des JO  2024 " </h2>
        
    </div>

</div>

<div class="lodging-page-content">

    <div class="lodging-about">
        <h2>Découvrir</h2>
        <div class="welcome-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="3rem">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                    Nos hébergements
                </text>
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                    Nos hébergements
                </text>
            </svg>
        </div>
        <p>Nous vous proposons 3 types d'hébergement tous respectueux de l'environnement et de qualité premium.</p>
    </div>

    <div class="container-lodging">

        <div class="lodging">

            <div class="lodging-img-container">
                <img src="{{ asset('images/tipis1.jpg') }}" alt="tipis" />
            </div>

            <div class="content-lodging">
                <p>Venez vous reposer dans un magnifique tipi traditionnel fait à partir de tissus 100% recyclés.</p>

                <a href="{{ path('app_lodging_show', {'data': {'lodging': '2'}}) }}" class="btn-discover-lodging" type="button">Les tipis</a>

            </div>

        </div>


        <div class="lodging">
            <div class="lodging-img-container">
                <img src="{{ asset('images/cabane1.jpg') }}" alt="cabane" />
            </div>

            <div class="content-lodging">
                <p>Nos grandes cabanes construites grâce à un bois issu de forêt gérée durablement.</p>

                <a href="{{ path('app_lodging_show', {'data': {'lodging': '3'}}) }}" class="btn-discover-lodging" type="button">Les cabanes</a>

            </div>
        </div>

        <div class="lodging">
            <div class="lodging-img-container">
                <img src="{{ asset('images/tente1.jpg') }}" alt="tente" />
            </div>

            <div class="content-lodging">
                <p>Nous vous proposons aussi des tentes “premium” avec planchers… Elles aussi sont faites avec des matériaux éco-responsables.</p>

                <a href="{{ path('app_lodging_show', {'data': {'lodging': '4'}}) }}" class="btn-discover-lodging" type="button">Les tentes</a>

            </div>
        </div>
    
    </div>

    <a href="{{ path('app_lodging_show') }}" class="btn-discover-lodging" type="button">Tous les hébergements</a>

</div>

{% endblock %}