<footer>
    <div class="column-container">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo-footer.svg') }}" alt="">
        </a>
        <p>Votre expérience camping premium au coeur de la nature à deux pas des JO 2024.</p>
    </div>
    <div class="column-container">
        <h3>Navigation</h3>
        <a href="{{ path('app_lodging') }}">Hébergements</a>
        <a href="{{ path('app_services') }}">Nos services</a>
        <a href="{{ path('app_about_us') }}">Qui sommes-nous ?</a>
        {% if (is_granted("ROLE_USER")) or (is_granted("ROLE_ADMIN")) %}
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}">S'identifier</a>
        {% endif %}
    </div>
    <div class="column-container">
        <h3>Assistance</h3>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
        <a href="#">Conditions d'utilisation</a>
        <a href="#">Politique de confidentialité</a>
    </div>
</footer>