<nav>
    <div class="nav">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo-text.svg') }}" alt="">
        </a>
        <ul class="desktop-nav">
            <li><a href="{{ path('app_lodging') }}">Hébergements</a></li>
            <li><a href="{{ path('app_services') }}">Nos services</a></li>
            <li><a href="{{ path('app_about_us') }}">Qui sommes-nous</a></li>
        </ul>

        <div class="right-nav-container">
            <a class="profil-nav-button" onclick="profilNavMenuFunction()"><i class="fa-solid fa-circle-user"></i></a>
            

            <a class="mobile-nav-button" onclick="mobileNavMenuFunction()"></a>
            
        </div>
</nav>

<ul class="profil-nav-menu">
    <li><a href="">Mon compte</a></li>
    <hr>
    {% if is_granted("ROLE_ADMIN") %}
        <li><a href="">Mon compte</a></li>
        <hr>
        <li><a href="{{ path('admin') }}">Administration</a></li>
    {% else %}
    {% elseif is_granted("ROLE_USER") %}
        <li><a href="">Mon compte</a></li>
        <hr>
        <li><a href="">Mes réservations</a></li>
    {% else %}
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
    {% endif %}
    <hr>
    {% if (is_granted("ROLE_USER")) or (is_granted("ROLE_ADMIN")) %}
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">S'identifier</a></li>
    {% endif %}
</ul> 
<ul class="mobile-nav-menu">
    <li><a href="{{ path('app_lodging') }}">Hébergements</a></li>
    <hr>
    <li><a href="{{ path('app_services') }}">Nos services</a></li>
    <hr>
    <li><a href="{{ path('app_about_us') }}">Qui sommes-nous</a></li>
</ul>
{% block javascript %}
    <script src="{{ asset('js/nav.js') }}"></script>
{% endblock %}