<nav>
    <div class="nav">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo-text.svg') }}" alt="">
        </a>
        <ul>
            <li><a href="{{ path('app_lodging') }}">Hébergements</a></li>
            <li><a href="{{ path('app_services') }}">Nos services</a></li>
            <li><a href="{{ path('app_about_us') }}">Qui sommes-nous</a></li>
        </ul>
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('app_logout') }}" class="">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="">S'identifier</a>
        {% endif %}
</nav>