<nav>
    <div class="nav">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo-text.svg') }}" alt="">
        </a>
        <ul class="desktop-nav">
            <li><a href="{{ path('app_lodging') }}">Hébergements</a></li>
            <li><a href="{{ path('app_services') }}">Nos services</a></li>
            <li><a href="{{ path('app_about_us') }}">Qui sommes-nous</a></li>
        </ul>
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('app_logout') }}" class="desktop-link">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="desktop-link">S'identifier</a>
        {% endif %}
        <a class="mobile-nav-button" onclick="mobileNavMenuFunction()"></a>
        <div class="mobile-nav-menu">
            <a href="{{ path('app_lodging') }}">Hébergements</a>
            <hr>
            <a href="{{ path('app_services') }}">Nos services</a>
            <hr>
            <a href="{{ path('app_about_us') }}">Qui sommes-nous</a>
            <hr>
            {% if is_granted("ROLE_USER") %}
                <a href="{{ path('app_logout') }}" class="mobile-link">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="mobile-link">S'identifier</a>
            {% endif %}
        </div>
</nav>

{% block javascript %}
    <script src="{{ asset('js/nav.js') }}"></script>
{% endblock %}